[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"django-bootstrap3" = "*"
mysqlclient = "*"
numpy = "*"
plotly = "*"
snownlp = "*"
jieba = "*"


[dev-packages]

