{%extends 'main/base_nsb.html'%}
{% load bootstrap3 %}
{% block header%}
<h2 class="text-center" style="color: lightblue">Create your own account, and enjoy the service we provided!</h2>
{% endblock header %}
{%block content%}
<form action="{%url 'user:register'%}" method="post" class="form">
    {%csrf_token%}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="btn btn-primary btn-block" name='submit'>Register</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{%url 'main:index'%}"/>
</form>
{%endblock content%}
