{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewpoint" content="width=device-width, initial-scale=1">
	<title>Test</title>
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>
<!-- Static Navbar -->
{% block nav %}
	{% include "main/nav.html" %}
{% endblock nav %}
<div class="container">
	<div class="page-header">
	<!-- Normal Header -->
		{% block header %}
		{% endblock header %}
	</div>
	<div>
	<!-- Body&Content -->
		{% block content %}
		{% endblock content %}
	</div>
</div>
</body>
</html>