{% extends "main/base.html" %}
{% block header %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<h3 style="color: lightblue">Dayparts Analysis</h3>
			<div align="right" style="color: #0095ff">
			<a href="{% url 'main:dheatmap' %}">时段热力图</a>
		</div>
{% endblock header %}
{% block content %}
	<div class="container">
		<div class="row">
			{# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
			<div class="col-md-12 ">{{plot|safe}}</div>
		</div>
	</div>
{% endblock content %}