<nav class="navbar navbar-inverse bg-faded navbar-static-top">
	<div class="container">
		<div class="navbar-header" >
			<button type = "button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded = "false" aria-controls="navbar">
			</button>
			<a class = "navbar-brand" href="{% url 'main:index' %}">DBA Group</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a class="" href="{% url 'main:index' %}">Home</a></li>
				<li><a href="{% url 'main:about' %}">About</a></li>
				<li><a href="{% url 'main:test' %}">Test</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
				<li><a>Welcome, {{user.username}}.</a></li>
				<li><a href="{% url 'user:logout'%}">Log out</a></li>
				{% else %}
				<li><a href="{% url 'user:register' %}">Register</a></li>
				<li><a href="{% url 'user:login' %}">Log in</a></li>
				{% endif %}
			</ul>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav navbar-right">
			</ul>
		</div><!-- nav-collapse -->
	</div>
</nav>
